{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
  </head>
  <body>
    <div class = "mas">
      <img src = "{%static 'images/mas.png'%}"/>
    </div>
    <div class="Sixtina">
      <img src="{%static 'images/sixtina.png'%}" alt="">
    </div>
    <section class="form">
      <div class="container">
        <div class="row">
          <div class="col-1">
            <img src="{% static 'images/zeus.png' %}" class="zeus-img">
          </div>
          <div class="col-2">
            <h1 class="inicio-sesion">INICIA SESIÓN</h1>
            <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
              {% if msg %}
                {{form.as_p}}
                <h2>{{msg}}</h2>
              {% else %}
                {{form.as_p}}
              {% endif %}
              <div class="form-row">
                <a href="#" style = "color: #515151;font-size:15px;text-decoration: none">¿Has olvidado tu contraseña</a>
              </div>
              <div class="form-row">
                <input type="submit" class="submit" value="INICIAR SESIÓN">
              </div>
            </form>
          </div>
          <div class="col-3">
            <h1 class="inicio-sesion">REGÍSTRATE</h1>
            <div class="registro-msg">
              <p style="color: #515151;">¿No cuentas con un usuario en
                Sixtina.com? Crea uno de forma sensilla.
                Necesitaremos algunos datos para agilizar
                tu compra.
              </p>
            </div>
            <div class="registrate">
              <a href="{% url 'nuevo-usuario'%}">
              <button type="button" class="submit">CREAR CUENTA</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
