*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Proxima Nova Regular';
  font-size: 12px;
  color: #707070;
}
.principal-img{
  position: absolute;
  top:0px;
  left: 25%;
  width: 500px;
  height: 100%;
}
.principal-img img{
  height: 100%;
  width: 100%
}
.sub-img{
  position: absolute;
  height: 100%;
  width: 300px;
  left: 0px;
  top: 0px;
  display: inline-block;
}
.sub-img-1{
  width: 100px;
  height: 150px;
  padding-top: 25%;
  left: 50%;
  position: relative;
}
.sub-img-1 img{
  height: 100%;
  width: 100%
}
.titulo{
  position: absolute;
  left: 65%;
  top: 15%;
}
.box-color{
  position: relative;
  width: 300px;
  height: 30px;
  display: flex;
}
.separar-colores{
  padding-right: 30px;
}
.circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 1px #707070;
  background-color: rgba(0,0,0,0);
  padding-left: 1px;
  padding-top: 1px;
}
.other-circle{
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
.tallas{
  width: 300px;
  height: 45px;
  background: rgba(0,0,0,0);
  border: solid 1px #707070;
  border-radius: 10px;
  display: inline-flex;
}
.talla{
  width: 60px;
  height: 45px;
  border-right: solid 1px #707070;
}
.talla a{
  text-decoration: none;
  padding-top: 15px;
  padding-left: 25px;
  color: #707070;
  position: absolute;
}
.talla-xl{
  width: 60px;
  height: 45px;
}
.talla-xl a{
  text-decoration: none;
  color: #707070;
  position: absolute;
  padding-top: 15px;
  padding-left: 25px;
}
.descripcion{
  width: 470px;
  height: 50px;
}
.comprar{
  padding-bottom: 100px;
}
input[type=submit]{
  width: 300px;
  height: 45px;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  background-color: #191919;
  color: white;
  font-family: 'Proxima Nova Regular';
  font-size: 13px;
  cursor: pointer;
}
.redes{
  width: 500px;
  height: 50px;
  display: inline-flex;
}
.red{
  width: 15px;
  height: 15px;
  padding-right: 100px;
}
.red img{
  width: 100%;
  height: 100%;
}
