*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Proxima Nova Regular';
    font-size: 12px;
}
.contenedor{
    position: relative;
    text-align: center;
}
.mas{
  position: relative;
  top: 10%;
  left: 8%;
}
a{
    text-decoration: none;
    color: #707070;
}
.iniciar_sesion{
    position: relative;
    top: 10.3%;
    left: 75%;
}
.buscar{
    position: relative;
    top: 10%;
    left: 85%;
}

.mujer{
    position: relative;
    top: 50%;
    left: 1253px;
}

.hombre{
    position: relative;
    top: 50%;
    left: 8%;
}

.new{
    position: relative;
    top: 598px;
    left: 662px;
}
