*{
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova Regular';
  color: #8F8F8F;
  font-size: 17px;
}

body{
  background-color: #FFFFFF;
}
header{
  height: 120px;
}
.logo{
  margin-top: 80px;
  margin-left: 90px;
}

select{
  width: 350px;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  padding-top: 50px;
  color: #8F8F8F;
}
.boton{
  top: 1040px;
  left: 325px;
  position: absolute;
}
.contenedor{
  left: 325px;
  top: 200px;
  position: absolute;
}
input[type = text] apellidos{
  padding-bottom: 50px;
}
input[type=email], input[type=password], input[type = text], input[type = number]{
  width: 350px;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  padding-top: 50px;
}
.buton{
  width: 300px;
  height: 45px;
  background-color: #1A1A1A;
  border: none;
  color: #F5F5F5;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Proxima Nova Regular';
  font-size: 20px;
}
footer{
  width: 100%;
  top: 1200px;
  position: absolute; 
}
