*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Proxima Nova Regular';
    font-size: 12px;
}
.usuario{
  font-size: 13px;
  color: #707070
}

.contenedor{
    position: absolute;
    text-align: center;
}
.mas{
  position: absolute;
  top: 10%;
  left: 8%;
}
.bag{
  padding-top: 2px;
}
a{
    text-decoration: none;
    color: #707070;
}
.iniciar_sesion{
    position: absolute;
    top: 10.3%;
    left: 72%;
}
.buscar{
    position: absolute;
    top: 10%;
    left: 85%;
}

.mujer{
    position: absolute;
    top: 50%;
    left: 1253px;
}

.hombre{
    position: absolute;
    top: 50%;
    left: 8%;
}

.new{
    position: absolute;
    top: 598px;
    left: 662px;
}
