*{
  padding: 0;
  margin: 0;
  font-family: 'Avenir Next LT Pro Regular';
  color: #8F8F8F;
}
body{
  background-color: #FFFFFF;
}
.mas{
  position: absolute;
  top: 10%;
  left: 8%;
}
.col-1{
  width: 530px;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
}
.zeus-img{
  padding-top: 12px;
}
.col-2{
  left: 580px;
  top: 230px;
  position: absolute;
}
.col-3{
  left: 970px;
  top: 230px;
  position: absolute;
}
.inicio-sesion{
  font-size: 17px;
  padding-bottom: 43px;
  font-family: 'Proxima Nova Regular'
}

.form-row{
  padding-bottom: 43px;
}
.Sixtina{
  left: 580px;
  top: 120px;
  position: absolute;
}
.registro-msg{
  width: 350px;
  height: 80px;
  font-size: 15px;
}
.registrate{
  font-size: 20px;
  margin-top: 105px;
  position: absolute;
}
.submit {
  width: 300px;
  height: 45px;
  background-color: #1A1A1A;
  border: none;
  color: #F5F5F5;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Proxima Nova Regular';
<<<<<<< HEAD:Sixtina_/Usuarios/static/css/nuevo_usuario.css
  font-size: 15px;
}
input[type=email]{
  width: 300px;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
=======
  font-size: 17px;
  cursor: pointer;
>>>>>>> Usuarios:Sixtina_/Usuarios/static/css/login.css
}
input[type=email], input[type=password]{
  width: 300px;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
}
