*{
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova Regular';
  color: #8F8F8F;
  font-size: 17px;
}

body{
  background-color: #FFFFFF;
}
header{
  height: 120px;
}
.logo{
  margin-top: 80px;
  margin-left: 90px;
}

select{
  width: 350px;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  padding-top: 50px;
  color: #8F8F8F;
}
.boton{
  top: 900px;
  left: 290px;
  position: absolute;
}
.container{
  left: 325px;
  top: 200px;
  position: absolute;
}
input[type = text] apellidos{
  padding-bottom: 50px;
}
input[type=email], input[type=password], input[type = text], input[type = number]{
  width: 350px;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  padding-top: 50px;
}
