{% extends "layout.html" %}
{% load static %}
{% block interfaz %}
<img class = lienzo src= "{%static 'images/David.png' %}"/>
{% endblock %}
{% block herramientas %}
<div class = 'mujer'>
    <img src = "{%static 'images/Mujer.png'%}">
</div>
<div class = 'hombre'>
    <a href="{% url 'camisetas-hombre' %}"><img src = "{%static 'images/Hombre.png'%}"></a>
</div>
<div class = 'new'>
    <img src = "{%static 'images/New.png'%}"/>
</div>
{% endblock %}
{% block genero %}
<div id = "lista2" class="lista2" onmouseover="mantenerBox2()" onmouseout="cerrarBox2()">
  <ul>
    <li><a href="#">Camisetas</a></li>
    <li><a href="#">Chaquetas</a></li>
    <li><a href="#">Pantalones y Jeans</a></li>
    <li><a href="#">Camisas</a></li>
    <li><a href="#">Sudaderas</a></li>
    <li><a href="#">Sudaderas</a></li>
  </ul>
</div>
{% endblock %}
