{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>SIXTINA</title>
    <link rel="stylesheet" href="{%static 'css/layout.css' %}">
</head>
<body>
    <div class = "contenedor">
        {% block interfaz %}
        {% endblock %}
        <div class = "mas">
          <img src = "{%static 'images/mas.png'%}"/>
        </div>
        <div class = 'iniciar_sesion'>
          {% if user %}
          <a href = 'login/' style  = "padding-right: 30px;">INICIAR SESION</a>
          {% else %}
          <p style  = "padding-right: 30px;">{{user.nombre}}</p>
          {% endif %}
        </div>
        <div class = 'buscar'>
        <img src = "{%static 'images/Buscar.png'%}" />
        </div>
        {% block herramientas %}
        {% endblock %}
    </div>
</body>
</html>
