{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>SIXTINA</title>
    <link rel="stylesheet" href="{%static 'css/index.css' %}">
</head>
<body>
    <div class = "contenedor">
        {% block interfaz %}
        {% endblock %}
        <div class = "mas">
          <img src = "{%static 'images/mas.png'%}"/>
        </div>
        <div class = 'iniciar_sesion'>
          {% if user == 'non' %}
          <a href = 'login/' style  = "padding-right: 20px;">INICIAR SESION</a>
          {% else %}
          <h1 style  = "padding-right: 20px;" class = "usuario">{{user}}</h1>
          {% endif %}
        </div>
        <img src="{% static 'images/shopping-bag.png' %}" class="bag">
        <div class = 'buscar'>
        <img src = "{%static 'images/Buscar.png'%}" />
        </div>
        {% block herramientas %}
        {% endblock %}
    </div>
</body>
</html>
