{% extends "layout.html" %}
{% load static %}
{% block herramientas %}
<div class = 'mujer'>
    <img src = "{%static 'images/Mujer.png'%}">
</div>
<div class = 'hombre'>
    <a href="{% url 'camisetas-hombre' %}"><img src = "{%static 'images/Hombre.png'%}"></a>
</div>
<div class = 'new'>
    <img src = "{%static 'images/New.png'%}"/>
</div>
{% endblock %}
{% block gender %}
<div class="mujer-box">
  <a href="{% url 'mujer' %}" style="color: #0B0F10">MUJER</a>
</div>
<div class="separador">
  <p>|</p>
</div>
<div class="hombre-box">
  <a href="{% url 'hombre' %}">HOMBRE</a>
</div>
{% endblock %}
{% block genero %}
<div id = "lista2" class="lista2" onmouseover="mantenerBox2()" onmouseout="cerrarBox2()">
  <ul>
    <li><a href="#">Camisetas</a></li>
    <li><a href="#">Vestidos</a></li>
    <li><a href="#">Pantalones y Jeans</a></li>
    <li><a href="#">Chaquetas</a></li>
    <li><a href="#">Blusas y camisas</a></li>
    <li><a href="#">Sudaderas</a></li>
    <li><a href="#">Faldas</a></li>
  </ul>
</div>
{% endblock %}
